*{
	box-sizing: border-box;
}
.container{
	width: 1200px;
	height: 500px;
	background-color:grey;
}
.box,
.box2,
.box3,
.box4{
	width: 280px;
	height: 100px;
	background-color: yellow;
	float: left;
	
}
.box{
	margin: 0;
}
.box2{
	margin-left: 26.66px;
}
.box3{
	margin-left: 26.66px;
}
.box4{
float: right;

}